@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    margin: 20px 100px;
    padding: 20px 40px;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin: 20px 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.topic {
    background: lightgray;
    /*add CSS here*/
    margin: 50px;
    display: inline-block;
}

